/*
----------------------------------------------------------
[Table of contents]


#Skins-Colors
#Skins-Typography
#Skins-General
#Skins-Buttons
#Skins-Alerts
#Skins-Menus
#Skins-Thumbs


----------------------------------------------------------
*/
/*
----------------------------------------------------------


#Skins-Color


----------------------------------------------------------
*/

/*----------------------------------------------------------
#transparent
----------------------------------------------------------*/
.style-transparent-bg { background-color: transparent; }
.btn-transparent { color: #ffffff !important; background-color: transparent !important; border-color: transparent !important; }
.btn-transparent:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-transparent:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-transparent:active { background-color: transparent !important; border-color: transparent !important;}
.btn-transparent.btn-flat:not(.btn-hover-nobg):hover, .btn-transparent.btn-flat:not(.btn-hover-nobg):focus,.btn-transparent.btn-flat:active { background-color: transparent !important; border-color: transparent !important;}
.btn-transparent:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-transparent:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-transparent:active { color: transparent !important; }
.btn-transparent.btn-outline { background-color: transparent !important; border-color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-text-skin) { color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-hover-nobg):hover, .btn-transparent.btn-outline:not(.btn-hover-nobg):focus, btn-transparent.btn-outline:active { background-color: transparent !important; border-color: transparent !important; }
.btn-transparent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-transparent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-transparent.btn-outline:active { color: #ffffff !important; }
.style-light .btn-transparent.btn-text-skin.btn-outline, .style-light .btn-transparent.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-transparent.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-transparent-color { color: transparent !important; fill: transparent !important; }
.border-transparent-color { border-color: transparent !important; }
.tmb-overlay-gradient-top .style-transparent-bg { background-color: transparent !important; }
.tmb-overlay-gradient-bottom .style-transparent-bg:not(.tmb-term-evidence) { background-color: transparent !important; }

/*----------------------------------------------------------
#color-jevc
----------------------------------------------------------*/
.style-color-jevc-bg { background-color: #000000; }
.btn-color-jevc { color: #ffffff !important; background-color: #000000 !important; border-color: #000000 !important; }
.btn-color-jevc:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-jevc:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-jevc:active { background-color: transparent !important; border-color: #000000 !important;}
.btn-color-jevc.btn-flat:not(.btn-hover-nobg):hover, .btn-color-jevc.btn-flat:not(.btn-hover-nobg):focus,.btn-color-jevc.btn-flat:active { background-color: #000000 !important; border-color: #000000 !important;}
.btn-color-jevc:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-jevc:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-jevc:active { color: #000000 !important; }
.btn-color-jevc.btn-outline { background-color: transparent !important; border-color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-text-skin) { color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-hover-nobg):hover, .btn-color-jevc.btn-outline:not(.btn-hover-nobg):focus, btn-color-jevc.btn-outline:active { background-color: #000000 !important; border-color: #000000 !important; }
.btn-color-jevc.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-jevc.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-jevc.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-jevc.btn-text-skin.btn-outline, .style-light .btn-color-jevc.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-jevc.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-jevc-color { color: #000000 !important; fill: #000000 !important; }
.border-color-jevc-color { border-color: #000000 !important; }
.tmb-overlay-gradient-top .style-color-jevc-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-jevc-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 50%) !important;}

/*----------------------------------------------------------
#color-nhtu
----------------------------------------------------------*/
.style-color-nhtu-bg { background-color: #101213; }
.btn-color-nhtu { color: #ffffff !important; background-color: #101213 !important; border-color: #101213 !important; }
.btn-color-nhtu:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-nhtu:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-nhtu:active { background-color: transparent !important; border-color: #101213 !important;}
.btn-color-nhtu.btn-flat:not(.btn-hover-nobg):hover, .btn-color-nhtu.btn-flat:not(.btn-hover-nobg):focus,.btn-color-nhtu.btn-flat:active { background-color: #030506 !important; border-color: #030506 !important;}
.btn-color-nhtu:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-nhtu:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-nhtu:active { color: #101213 !important; }
.btn-color-nhtu.btn-outline { background-color: transparent !important; border-color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-text-skin) { color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-hover-nobg):hover, .btn-color-nhtu.btn-outline:not(.btn-hover-nobg):focus, btn-color-nhtu.btn-outline:active { background-color: #101213 !important; border-color: #101213 !important; }
.btn-color-nhtu.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-nhtu.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-nhtu.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-nhtu.btn-text-skin.btn-outline, .style-light .btn-color-nhtu.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-nhtu.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-nhtu-color { color: #101213 !important; fill: #101213 !important; }
.border-color-nhtu-color { border-color: #101213 !important; }
.tmb-overlay-gradient-top .style-color-nhtu-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #101213 0%, rgba(16, 18, 19, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-nhtu-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #101213 0%, rgba(16, 18, 19, 0) 50%) !important;}

/*----------------------------------------------------------
#color-wayh
----------------------------------------------------------*/
.style-color-wayh-bg { background-color: #141618; }
.btn-color-wayh { color: #ffffff !important; background-color: #141618 !important; border-color: #141618 !important; }
.btn-color-wayh:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-wayh:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-wayh:active { background-color: transparent !important; border-color: #141618 !important;}
.btn-color-wayh.btn-flat:not(.btn-hover-nobg):hover, .btn-color-wayh.btn-flat:not(.btn-hover-nobg):focus,.btn-color-wayh.btn-flat:active { background-color: #07090b !important; border-color: #07090b !important;}
.btn-color-wayh:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-wayh:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-wayh:active { color: #141618 !important; }
.btn-color-wayh.btn-outline { background-color: transparent !important; border-color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-text-skin) { color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-hover-nobg):hover, .btn-color-wayh.btn-outline:not(.btn-hover-nobg):focus, btn-color-wayh.btn-outline:active { background-color: #141618 !important; border-color: #141618 !important; }
.btn-color-wayh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-wayh.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-wayh.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-wayh.btn-text-skin.btn-outline, .style-light .btn-color-wayh.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-wayh.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-wayh-color { color: #141618 !important; fill: #141618 !important; }
.border-color-wayh-color { border-color: #141618 !important; }
.tmb-overlay-gradient-top .style-color-wayh-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #141618 0%, rgba(20, 22, 24, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wayh-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #141618 0%, rgba(20, 22, 24, 0) 50%) !important;}

/*----------------------------------------------------------
#color-rgdb
----------------------------------------------------------*/
.style-color-rgdb-bg { background-color: #1b1d1f; }
.btn-color-rgdb { color: #ffffff !important; background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.btn-color-rgdb:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-rgdb:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-rgdb:active { background-color: transparent !important; border-color: #1b1d1f !important;}
.btn-color-rgdb.btn-flat:not(.btn-hover-nobg):hover, .btn-color-rgdb.btn-flat:not(.btn-hover-nobg):focus,.btn-color-rgdb.btn-flat:active { background-color: #0e1012 !important; border-color: #0e1012 !important;}
.btn-color-rgdb:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-rgdb:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-rgdb:active { color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline { background-color: transparent !important; border-color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-text-skin) { color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-hover-nobg):hover, .btn-color-rgdb.btn-outline:not(.btn-hover-nobg):focus, btn-color-rgdb.btn-outline:active { background-color: #1b1d1f !important; border-color: #1b1d1f !important; }
.btn-color-rgdb.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-rgdb.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-rgdb.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-rgdb.btn-text-skin.btn-outline, .style-light .btn-color-rgdb.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-rgdb.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-rgdb-color { color: #1b1d1f !important; fill: #1b1d1f !important; }
.border-color-rgdb-color { border-color: #1b1d1f !important; }
.tmb-overlay-gradient-top .style-color-rgdb-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #1b1d1f 0%, rgba(27, 29, 31, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-rgdb-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #1b1d1f 0%, rgba(27, 29, 31, 0) 50%) !important;}

/*----------------------------------------------------------
#color-prif
----------------------------------------------------------*/
.style-color-prif-bg { background-color: #303133; }
.btn-color-prif { color: #ffffff !important; background-color: #303133 !important; border-color: #303133 !important; }
.btn-color-prif:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-prif:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-prif:active { background-color: transparent !important; border-color: #303133 !important;}
.btn-color-prif.btn-flat:not(.btn-hover-nobg):hover, .btn-color-prif.btn-flat:not(.btn-hover-nobg):focus,.btn-color-prif.btn-flat:active { background-color: #232426 !important; border-color: #232426 !important;}
.btn-color-prif:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-prif:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-prif:active { color: #303133 !important; }
.btn-color-prif.btn-outline { background-color: transparent !important; border-color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-text-skin) { color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-hover-nobg):hover, .btn-color-prif.btn-outline:not(.btn-hover-nobg):focus, btn-color-prif.btn-outline:active { background-color: #303133 !important; border-color: #303133 !important; }
.btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-prif.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-prif.btn-text-skin.btn-outline, .style-light .btn-color-prif.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-prif.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-prif-color { color: #303133 !important; fill: #303133 !important; }
.border-color-prif-color { border-color: #303133 !important; }
.tmb-overlay-gradient-top .style-color-prif-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #303133 0%, rgba(48, 49, 51, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-prif-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #303133 0%, rgba(48, 49, 51, 0) 50%) !important;}

/*----------------------------------------------------------
#color-xsdn
----------------------------------------------------------*/
.style-color-xsdn-bg { background-color: #ffffff; }
.btn-color-xsdn { color: #ffffff !important; background-color: #ffffff !important; border-color: #ffffff !important; }
.btn-color-xsdn:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-xsdn:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-xsdn:active { background-color: transparent !important; border-color: #ffffff !important;}
.btn-color-xsdn.btn-flat:not(.btn-hover-nobg):hover, .btn-color-xsdn.btn-flat:not(.btn-hover-nobg):focus,.btn-color-xsdn.btn-flat:active { background-color: #f2f2f2 !important; border-color: #f2f2f2 !important;}
.btn-color-xsdn:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-xsdn:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-xsdn:active { color: #ffffff !important; }
.btn-color-xsdn.btn-outline { background-color: transparent !important; border-color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-text-skin) { color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-hover-nobg):hover, .btn-color-xsdn.btn-outline:not(.btn-hover-nobg):focus, btn-color-xsdn.btn-outline:active { background-color: #ffffff !important; border-color: #ffffff !important; }
.btn-color-xsdn.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-xsdn.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-xsdn.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-xsdn.btn-text-skin.btn-outline, .style-light .btn-color-xsdn.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-xsdn.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-xsdn-color { color: #ffffff !important; fill: #ffffff !important; }
.border-color-xsdn-color { border-color: #ffffff !important; }
.tmb-overlay-gradient-top .style-color-xsdn-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-xsdn-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 50%) !important;}

/*----------------------------------------------------------
#color-lxmt
----------------------------------------------------------*/
.style-color-lxmt-bg { background-color: #f7f7f7; }
.btn-color-lxmt { color: #ffffff !important; background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-lxmt:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-lxmt:active { background-color: transparent !important; border-color: #f7f7f7 !important;}
.btn-color-lxmt.btn-flat:not(.btn-hover-nobg):hover, .btn-color-lxmt.btn-flat:not(.btn-hover-nobg):focus,.btn-color-lxmt.btn-flat:active { background-color: #eaeaea !important; border-color: #eaeaea !important;}
.btn-color-lxmt:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-lxmt:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-lxmt:active { color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline { background-color: transparent !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-text-skin) { color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-hover-nobg):hover, .btn-color-lxmt.btn-outline:not(.btn-hover-nobg):focus, btn-color-lxmt.btn-outline:active { background-color: #f7f7f7 !important; border-color: #f7f7f7 !important; }
.btn-color-lxmt.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-lxmt.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-lxmt.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-lxmt.btn-text-skin.btn-outline, .style-light .btn-color-lxmt.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-lxmt.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-lxmt-color { color: #f7f7f7 !important; fill: #f7f7f7 !important; }
.border-color-lxmt-color { border-color: #f7f7f7 !important; }
.tmb-overlay-gradient-top .style-color-lxmt-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #f7f7f7 0%, rgba(247, 247, 247, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-lxmt-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #f7f7f7 0%, rgba(247, 247, 247, 0) 50%) !important;}

/*----------------------------------------------------------
#color-gyho
----------------------------------------------------------*/
.style-color-gyho-bg { background-color: #eaeaea; }
.btn-color-gyho { color: #ffffff !important; background-color: #eaeaea !important; border-color: #eaeaea !important; }
.btn-color-gyho:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-gyho:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-gyho:active { background-color: transparent !important; border-color: #eaeaea !important;}
.btn-color-gyho.btn-flat:not(.btn-hover-nobg):hover, .btn-color-gyho.btn-flat:not(.btn-hover-nobg):focus,.btn-color-gyho.btn-flat:active { background-color: #dddddd !important; border-color: #dddddd !important;}
.btn-color-gyho:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-gyho:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-gyho:active { color: #eaeaea !important; }
.btn-color-gyho.btn-outline { background-color: transparent !important; border-color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-text-skin) { color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-hover-nobg):hover, .btn-color-gyho.btn-outline:not(.btn-hover-nobg):focus, btn-color-gyho.btn-outline:active { background-color: #eaeaea !important; border-color: #eaeaea !important; }
.btn-color-gyho.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-gyho.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-gyho.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-gyho.btn-text-skin.btn-outline, .style-light .btn-color-gyho.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-gyho.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-gyho-color { color: #eaeaea !important; fill: #eaeaea !important; }
.border-color-gyho-color { border-color: #eaeaea !important; }
.tmb-overlay-gradient-top .style-color-gyho-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #eaeaea 0%, rgba(234, 234, 234, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-gyho-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #eaeaea 0%, rgba(234, 234, 234, 0) 50%) !important;}

/*----------------------------------------------------------
#color-uydo
----------------------------------------------------------*/
.style-color-uydo-bg { background-color: #dddddd; }
.btn-color-uydo { color: #ffffff !important; background-color: #dddddd !important; border-color: #dddddd !important; }
.btn-color-uydo:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-uydo:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-uydo:active { background-color: transparent !important; border-color: #dddddd !important;}
.btn-color-uydo.btn-flat:not(.btn-hover-nobg):hover, .btn-color-uydo.btn-flat:not(.btn-hover-nobg):focus,.btn-color-uydo.btn-flat:active { background-color: #d0d0d0 !important; border-color: #d0d0d0 !important;}
.btn-color-uydo:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-uydo:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-uydo:active { color: #dddddd !important; }
.btn-color-uydo.btn-outline { background-color: transparent !important; border-color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-text-skin) { color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-hover-nobg):hover, .btn-color-uydo.btn-outline:not(.btn-hover-nobg):focus, btn-color-uydo.btn-outline:active { background-color: #dddddd !important; border-color: #dddddd !important; }
.btn-color-uydo.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-uydo.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-uydo.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-uydo.btn-text-skin.btn-outline, .style-light .btn-color-uydo.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-uydo.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-uydo-color { color: #dddddd !important; fill: #dddddd !important; }
.border-color-uydo-color { border-color: #dddddd !important; }
.tmb-overlay-gradient-top .style-color-uydo-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #dddddd 0%, rgba(221, 221, 221, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-uydo-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #dddddd 0%, rgba(221, 221, 221, 0) 50%) !important;}

/*----------------------------------------------------------
#color-wvjs
----------------------------------------------------------*/
.style-color-wvjs-bg { background-color: #777777; }
.btn-color-wvjs { color: #ffffff !important; background-color: #777777 !important; border-color: #777777 !important; }
.btn-color-wvjs:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-wvjs:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-wvjs:active { background-color: transparent !important; border-color: #777777 !important;}
.btn-color-wvjs.btn-flat:not(.btn-hover-nobg):hover, .btn-color-wvjs.btn-flat:not(.btn-hover-nobg):focus,.btn-color-wvjs.btn-flat:active { background-color: #6a6a6a !important; border-color: #6a6a6a !important;}
.btn-color-wvjs:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-wvjs:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-wvjs:active { color: #777777 !important; }
.btn-color-wvjs.btn-outline { background-color: transparent !important; border-color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-text-skin) { color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-hover-nobg):hover, .btn-color-wvjs.btn-outline:not(.btn-hover-nobg):focus, btn-color-wvjs.btn-outline:active { background-color: #777777 !important; border-color: #777777 !important; }
.btn-color-wvjs.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-wvjs.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-wvjs.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-wvjs.btn-text-skin.btn-outline, .style-light .btn-color-wvjs.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-wvjs.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-wvjs-color { color: #777777 !important; fill: #777777 !important; }
.border-color-wvjs-color { border-color: #777777 !important; }
.tmb-overlay-gradient-top .style-color-wvjs-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #777777 0%, rgba(119, 119, 119, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-wvjs-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #777777 0%, rgba(119, 119, 119, 0) 50%) !important;}

/*----------------------------------------------------------
#color-vyce
----------------------------------------------------------*/
.style-color-vyce-bg { background-color: #0cb4ce; }
.btn-color-vyce { color: #ffffff !important; background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-color-vyce:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-vyce:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-vyce:active { background-color: transparent !important; border-color: #0cb4ce !important;}
.btn-color-vyce.btn-flat:not(.btn-hover-nobg):hover, .btn-color-vyce.btn-flat:not(.btn-hover-nobg):focus,.btn-color-vyce.btn-flat:active { background-color: #00a7c1 !important; border-color: #00a7c1 !important;}
.btn-color-vyce:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-vyce:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-vyce:active { color: #0cb4ce !important; }
.btn-color-vyce.btn-outline { background-color: transparent !important; border-color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-text-skin) { color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-hover-nobg):hover, .btn-color-vyce.btn-outline:not(.btn-hover-nobg):focus, btn-color-vyce.btn-outline:active { background-color: #0cb4ce !important; border-color: #0cb4ce !important; }
.btn-color-vyce.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-vyce.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-vyce.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-vyce.btn-text-skin.btn-outline, .style-light .btn-color-vyce.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-vyce.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-vyce-color { color: #0cb4ce !important; fill: #0cb4ce !important; }
.border-color-vyce-color { border-color: #0cb4ce !important; }
.tmb-overlay-gradient-top .style-color-vyce-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #0cb4ce 0%, rgba(12, 180, 206, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-vyce-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #0cb4ce 0%, rgba(12, 180, 206, 0) 50%) !important;}

/*----------------------------------------------------------
#color-210407
----------------------------------------------------------*/
.style-color-210407-bg { background-color: #006cff; }
.btn-color-210407 { color: #ffffff !important; background-color: #006cff !important; border-color: #006cff !important; }
.btn-color-210407:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-210407:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-210407:active { background-color: transparent !important; border-color: #006cff !important;}
.btn-color-210407.btn-flat:not(.btn-hover-nobg):hover, .btn-color-210407.btn-flat:not(.btn-hover-nobg):focus,.btn-color-210407.btn-flat:active { background-color: #005ff2 !important; border-color: #005ff2 !important;}
.btn-color-210407:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-210407:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-210407:active { color: #006cff !important; }
.btn-color-210407.btn-outline { background-color: transparent !important; border-color: #006cff !important; }
.btn-color-210407.btn-outline:not(.btn-text-skin) { color: #006cff !important; }
.btn-color-210407.btn-outline:not(.btn-hover-nobg):hover, .btn-color-210407.btn-outline:not(.btn-hover-nobg):focus, btn-color-210407.btn-outline:active { background-color: #006cff !important; border-color: #006cff !important; }
.btn-color-210407.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-210407.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-210407.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-210407.btn-text-skin.btn-outline, .style-light .btn-color-210407.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-210407.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-210407-color { color: #006cff !important; fill: #006cff !important; }
.border-color-210407-color { border-color: #006cff !important; }
.tmb-overlay-gradient-top .style-color-210407-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #006cff 0%, rgba(0, 108, 255, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-210407-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #006cff 0%, rgba(0, 108, 255, 0) 50%) !important;}

/*----------------------------------------------------------
#color-146550
----------------------------------------------------------*/
.style-color-146550-bg { background-color: #3897f0; }
.btn-color-146550 { color: #ffffff !important; background-color: #3897f0 !important; border-color: #3897f0 !important; }
.btn-color-146550:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-color-146550:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-color-146550:active { background-color: transparent !important; border-color: #3897f0 !important;}
.btn-color-146550.btn-flat:not(.btn-hover-nobg):hover, .btn-color-146550.btn-flat:not(.btn-hover-nobg):focus,.btn-color-146550.btn-flat:active { background-color: #2b8ae3 !important; border-color: #2b8ae3 !important;}
.btn-color-146550:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-color-146550:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-color-146550:active { color: #3897f0 !important; }
.btn-color-146550.btn-outline { background-color: transparent !important; border-color: #3897f0 !important; }
.btn-color-146550.btn-outline:not(.btn-text-skin) { color: #3897f0 !important; }
.btn-color-146550.btn-outline:not(.btn-hover-nobg):hover, .btn-color-146550.btn-outline:not(.btn-hover-nobg):focus, btn-color-146550.btn-outline:active { background-color: #3897f0 !important; border-color: #3897f0 !important; }
.btn-color-146550.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-color-146550.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-color-146550.btn-outline:active { color: #ffffff !important; }
.style-light .btn-color-146550.btn-text-skin.btn-outline, .style-light .btn-color-146550.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-color-146550.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-color-146550-color { color: #3897f0 !important; fill: #3897f0 !important; }
.border-color-146550-color { border-color: #3897f0 !important; }
.tmb-overlay-gradient-top .style-color-146550-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #3897f0 0%, rgba(56, 151, 240, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-color-146550-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #3897f0 0%, rgba(56, 151, 240, 0) 50%) !important;}

/*----------------------------------------------------------
#accent
----------------------------------------------------------*/
.style-accent-bg { background-color: #3897f0; }
.btn-accent { color: #ffffff !important; background-color: #3897f0 !important; border-color: #3897f0 !important; }
.btn-accent:not(.btn-hover-nobg):not(.icon-animated):hover, .btn-accent:not(.btn-hover-nobg):not(.icon-animated):focus,.btn-accent:active { background-color: transparent !important; border-color: #3897f0 !important;}
.btn-accent.btn-flat:not(.btn-hover-nobg):hover, .btn-accent.btn-flat:not(.btn-hover-nobg):focus,.btn-accent.btn-flat:active { background-color: #2b8ae3 !important; border-color: #2b8ae3 !important;}
.btn-accent:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):hover, .btn-accent:not(.btn-flat):not(.btn-hover-nobg):not(.icon-animated):not(.btn-text-skin):focus,.btn-accent:active { color: #3897f0 !important; }
.btn-accent.btn-outline { background-color: transparent !important; border-color: #3897f0 !important; }
.btn-accent.btn-outline:not(.btn-text-skin) { color: #3897f0 !important; }
.btn-accent.btn-outline:not(.btn-hover-nobg):hover, .btn-accent.btn-outline:not(.btn-hover-nobg):focus, btn-accent.btn-outline:active { background-color: #3897f0 !important; border-color: #3897f0 !important; }
.btn-accent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):hover, .btn-accent.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):not(.icon-animated):focus, btn-accent.btn-outline:active { color: #ffffff !important; }
.style-light .btn-accent.btn-text-skin.btn-outline, .style-light .btn-accent.btn-text-skin:not(.btn-outline):hover { color: #303133 !important; }
.style-light .btn-accent.btn-text-skin.btn-outline:hover { color: #ffffff !important; }
.text-accent-color { color: #3897f0 !important; fill: #3897f0 !important; }
.border-accent-color { border-color: #3897f0 !important; }
.tmb-overlay-gradient-top .style-accent-bg { background-color: transparent !important; background-image: linear-gradient(to bottom, #3897f0 0%, rgba(56, 151, 240, 0) 50%) !important;}
.tmb-overlay-gradient-bottom .style-accent-bg:not(.tmb-term-evidence) { background-color: transparent !important; background-image: linear-gradient(to top, #3897f0 0%, rgba(56, 151, 240, 0) 50%) !important;}

/*----------------------------------------------------------
#Style light
----------------------------------------------------------*/
.style-light-bg { background-color: #ffffff; }
.border-light-bg { border-color: #ffffff; }

/*----------------------------------------------------------
#Style dark
----------------------------------------------------------*/
.style-dark-bg { background-color: #141618; }
.border-dark-bg { border-color: #141618; }

/*----------------------------------------------------------
#Color fix
----------------------------------------------------------*/
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus { color: #333333 !important; }
/*
----------------------------------------------------------


#Skins-Typography


----------------------------------------------------------
*/

/*----------------------------------------------------------
#-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
----------------------------------------------------------*/
.font-555555 { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important; }
.btn-custom-typo.font-555555 { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important; }

/*----------------------------------------------------------
#Poppins
----------------------------------------------------------*/
.font-148314 { font-family: Poppins !important; }
.btn-custom-typo.font-148314 { font-family: Poppins !important; }

/*----------------------------------------------------------
#Font-size: 75px
----------------------------------------------------------*/
.fontsize-151480 { font-size: 75px; }
@media (max-width: 959px) { .fontsize-151480 { font-size: 50px; }}
@media (max-width: 569px) { .fontsize-151480 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-151480 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 100px
----------------------------------------------------------*/
.fontsize-231822 { font-size: 100px; }
@media (max-width: 959px) { .fontsize-231822 { font-size: 66.666666666667px; }}
@media (max-width: 569px) { .fontsize-231822 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-231822 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 130pxpx
----------------------------------------------------------*/
.fontsize-148151 { font-size: 130pxpx; }
@media (max-width: 959px) { .fontsize-148151 { font-size: 86.666666666667px; }}
@media (max-width: 569px) { .fontsize-148151 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-148151 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 90px
----------------------------------------------------------*/
.fontsize-635278 { font-size: 90px; }
@media (max-width: 959px) { .fontsize-635278 { font-size: 60px; }}
@media (max-width: 569px) { .fontsize-635278 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-635278 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 45px
----------------------------------------------------------*/
.fontsize-162914 { font-size: 45px; }
@media (max-width: 959px) { .fontsize-162914 { font-size: 30px; }}
@media (max-width: 320px) { .fontsize-162914 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: 55px
----------------------------------------------------------*/
.fontsize-666399 { font-size: 55px; }
@media (max-width: 959px) { .fontsize-666399 { font-size: 36.666666666667px; }}
@media (max-width: 569px) { .fontsize-666399 { font-size: 35px; }}
@media (max-width: 320px) { .fontsize-666399 { font-size: 28px; }}

/*----------------------------------------------------------
#Font-size: px
----------------------------------------------------------*/
.fontsize-551001 { font-size: px; }

/*----------------------------------------------------------
#Line-height: 90px
----------------------------------------------------------*/
.fontheight-155572 { line-height: 90px; }

/*----------------------------------------------------------
#Letter-spacing: -3.75px
----------------------------------------------------------*/
.fontspace-104183 { letter-spacing: -3.75px !important; }